anthropic
backoff
bs4
flask
httpx
nltk
openai>=1.0.0
opencv-python
pandas
playwright
playwright_stealth
tiktoken
google-generativeai
google-ai-generativelanguage
langchain-google-genai
Flask-Session
chromadb
sentence-transformers
wikipedia-api
tqdm
langchain
huggingface_hub
networkx