# .github/workflows/python-lint.yml

# This workflow runs Python linting using flake8 on pull requests to the main or master branch.
# It checks for code style issues and potential errors.
# To enable this workflow, ensure that the `flake8` package is included in your project's dependencies.
# You can customize the Python version and linting rules as needed.
# For more information, visit:
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
# https://flake8.pycqa.org/en/latest/
# https://pre-commit.com/

name: Python Linting

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  flake8:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8

    - name: Pre-Commit
      uses: pre-commit/action@v3.0.0
